body{
	font-size: 24px;
}

input{
	size: 2em;
}

/* #output{
	font-size: 24px;
} */

/* .error{
	color: red;
	display: inline-block; 
	text-align: left;
} */
.error {
	color: red;
	display: block;   /* bloque completo */
	text-align: left; /* texto dentro alineado a la izquierda */
	margin: 0 auto;   /* centra el bloque horizontalmente */
	padding: 0.5em;
}
.centered{
	text-align:center
}

.errorContainer{
	display:flex;
	flex-direction: column;
}
